body{
	margin:0;
	padding:0;
}
section{
	background:url(snow.jpg);
	background-size: cover;
	width:100%;
	height:650px;
	position: relative;
	overflow: hidden;
}
.snow1{
	background:url(snow1.png);
	background-repeat:repeat;
	width:100%;
	height:650px;
	position:absolute;
	top:0;
	left:0;
	animation:animateOne 10s infinite linear;

}
@keyframes animateOne{
	0%{background-position:0px 0px;}
}